#bags {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    gap: 24px;
    width: 1200px;
    height: auto;
}

#bags article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 24px;
    width: 282px;
    height: 391.39px;
    border: 1px solid #E3DED7;
    border-radius: 8px;
}

.image-cart {
    width: 219.39px;
    height: 219.39px;
    line-height: -200px;
    display: flex;
}

.country {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    width: 145px;
    height: 10px;
    flex: none;
    flex-grow: 0;
    text-decoration: none;
}

#bags p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 42px;
    height: 300px;
    text-align: center;
    color: #000000;
}

.Add {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 70px;
    height: 32px;
    background: rgba(42, 91, 69, 0.7);
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
}

.Add:hover{
    background: rgba(6, 141, 80, 0.7);
}

#bags article:hover {
    border: 2px solid #E3DED7;
    border-radius: 8px;
    background-color: #F7F5F3;
}


