#section5 {
    width: 100%;
    height: 480px;
    background: #F7F5F3;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

#section5 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 1246px;
    height: 390px;
    padding-left: 50px;
    padding-top: 44px;
    margin: 0px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 523px;
    height: 116px;
    flex: none;
    flex-grow: 1;
}

.text h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    width: 340px;
    height: 28px;
    color: #2A5B45;
    flex: none;
    flex-grow: 0;
}

.text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #111827;
    flex: none;
    flex-grow: 0;
    width: 530px;
    height: 32px;
}

.get {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 118px;
    height: 24px;
    flex: none;
    flex-grow: 0;
}

.get a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;
    flex: none;
    flex-grow: 0;
}

.get img {
    width: 24px;
    height: 12px;
    flex: none;
    flex-grow: 0;
}

.visit img {
    width: 560px;
    height: 390px;
    border-radius: 20px;
    flex: none;
}